html,body{
  overflow: auto;
}
.App {
  /* height: 100vh;
  width: 100vw; */
  text-align: center;
  align-content: center;
  display: flex;
}

.gradient{
  /* background: rgb(121,9,75); */
  background: linear-gradient(0deg, rgba(121,9,75,0.7) 35%, rgba(255,0,0,0.7) 100%);
}

.logo{
  -webkit-mask: url("./plus-solid.svg") no-repeat center;
  mask: url("./plus-solid.svg") no-repeat center;
  min-height: 15vh;
}

.section{
  margin:1rem;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.MuiFab-root.Mui-disabled{
  background: rgba(0, 0, 0, 0.12) !important;
}

.recommendation{
  margin: 1rem;
  padding: 1rem;
}

.good{
  background: #dff0d5;
  border-right: 1rem solid #a2c98b;
}

.bad{
  background: #e0b6b6;
  border-right: 1rem solid #c98c8b;
}

